<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
    <MaxCpuCount>1</MaxCpuCount>
    <TargetPlatform>x64</TargetPlatform>
  </RunConfiguration>

  <TestRunParameters>
    <Parameter name="connectionString" value="Data Source=.;Integrated Security=SSPI;Initial Catalog=ETLBox;" />
    <Parameter name="odbcConnectionString" value="Driver={SQL Server};Server=.;Database=ETLBox;Trusted_Connection=Yes;" />
    <Parameter name="accessConnectionString" value="Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:\DB\Test.mdb" />
    <Parameter name="dbName" value="ETLBox" />    
  </TestRunParameters>
</RunSettings>
