/*!
 Overwriting vendor styles
 */
.navbar-inverse
{
    background-color: #666 !important;
    border-color: #aaa !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover { 
    background-color: #666 !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #777 !important;
}


.navbar-inverse .navbar-nav > li > a {
    /*
    border-radius: 4px;
    background: #555;
    padding: 7px;
    margin: 7px;
        */
    font-size: 16px;
}

  
@media (max-width:767px) {
        .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #aaa !important
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #aaa !important
    }
}


/* Buttons on start page */
.buttons-unit {
    display: flex;
    flex-wrap: wrap;
}

.buttons-unit .button {
    font-size: 16px;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 12px;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.3);
    color: #fff;
    background: #808080;
    text-decoration: none
}